@text-color: #ff3e45; // red
@fg-color: #e8df28; // yellow
@bg-color: #242424; // black
@border: 1px solid lighten(@bg-color, 10%);

@font-face {
  font-family: "Silkscreen";
  src: url('slkscr.ttf') format('truetype') ;
}

#body {
  font-family: "Silkscreen", sans-serif;
  //background: @bg-color;
  color: @text-color;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &.Stone {
    background: url('stone-pixel-bg.png');
  }
}

#container {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

p {
  margin: 5px 0px;
}

h3 {
  margin: 0;
  border-bottom: @border;
  color: lighten(@fg-color, 20%);
}

.bold {
  font-weight: bold;
}

.fade {
  opacity: 0.0 !important;
}

.transparent-bg {
  background: fade(lighten(@bg-color, 10%), 60%);
  box-shadow: 5px 5px 9px black;
  padding: 5px;
  border: @border;
}

#title {
  .transparent-bg();
  font: serif;
  text-shadow: 1px 1px 2px black;
  margin: 5px 0;
  width: 100%;
  .Stone {
    color: lighten(@bg-color, 50%);
  }
}

#side {
  .transparent-bg();
  min-width: 200px;
  float: left;
  font-size: 0.9em;
  text-align: center;
}

#main {
  float: left;
  margin-left: 5px;
  .transparent-bg();
}

#clicker-wrapper {
  width: 50px;
  margin: auto;
}

#the-button {
  font-size: 1.3em;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  border: 4px solid @fg-color;
  overflow: hidden;
  background: @bg-color;
  box-shadow: 0 0 3px gray;
}

#the-button:hover {
  background: lighten(@bg-color, 10%);
}

#the-button a {
  display: block;
  float: left;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 0.8em;
  margin-top: -0.5em;
  text-align: center;
  color: @text-color;
  font-family: Verdana;
  font-size: 1.2em;
  text-decoration: none;
}

.upgrades {
  //width: 275px;
  -webkit-columns: 275px 2;
  -moz-columns: 275px 2;
  columns: 250px 2;
  overflow: hidden;
}

#upgrades .title {
  //width: 100%;
  margin-bottom: 5px;
  padding-bottom: 2px;
  border-bottom: @border;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.button {
  .noselect();
  cursor: pointer;
  font-weight: bold;
}

.upgrade {
  .button();
  .name {
    font-size: 1.1em;
  }
  .level {
    font-size: 0.7em;
  }
}

.upgrade.disabled {
  cursor: default;
  color: lighten(@bg-color, 50%);
}

#bottom {
  .transparent-bg();
  margin-top: 5px;
  float: left;
  color: lighten(@bg-color, 70%);
}

.messages {
  .noselect();
  margin-top: 15px;
  float: left;
  font-style: italic;
  color: @fg-color;
  opacity: 1;
  transition: opacity 5.0s ease-in-out;
  -moz-transition: opacity 5.0s ease-in-out;
  -webkit-transition: opacity 5.0s ease-in-out;
}

.current-clicks {
  font-size: 1.5em;
}
