@red: #ff3e45;
@yellow: #e8df28;
@black: #242424;
@bronze: #CD7F32;
@brown: #ae9376;
@dark-gray: #231c16;

@border: 1px solid lighten(@black, 10%);

@font-face {
  font-family: "Silkscreen";
  src: url('slkscr.ttf') format('truetype') ;
}

.drop-cap(@mag, @col) {
  &:first-letter {
    font-size: 1em * @mag;
    color: @col;
  }
}

#body {
  font-family: "Silkscreen", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 0;
}

#fork-me {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

#container {
  max-width: 800px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

p {
  margin: 5px 0px;
}

h3 {
  margin: 0;
  border-bottom: @border;
}

.bold {
  font-weight: bold;
}

.fade {
  opacity: 0.0 !important;
}

.transparent-bg {
  background: fade(lighten(@black, 10%), 70%);
  box-shadow: 5px 5px 9px black;
  padding: 5px;
  border: @border;
}

#title {
  .transparent-bg();
  font: serif;
  text-shadow: 1px 1px 2px black;
  margin: 5px 0;
  width: 100%;
  .Stone {
    color: lighten(@stone-bg, 50%);
  }
  .Bronze {
    color: @bronze-fg;
  }
}

#side {
  .transparent-bg();
  font-size: 0.9em;
  text-align: center;
  flex-grow: 1;
}

#main {
  .transparent-bg();
  margin-left: 5px;
  width: 275px * 2;
  flex-grow: 2;
}

#clicker-wrapper {
  width: 50px;
  margin: auto;
}

#the-button {
  font-size: 1.3em;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 3px gray;
}

#the-button a {
  display: block;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 0.8em;
  margin-top: -0.5em;
  text-align: center;
  font-family: Verdana;
  font-size: 1.2em;
  text-decoration: none;
}

.tab {
  .button();
}

.tab-view {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  overflow: hidden;
}

.upgrades, .heroes, {
  .tab-view();
}

#view .title {
  margin-bottom: 5px;
  padding-bottom: 2px;
  border-bottom: @border;
  font-size: 0.9em;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.button {
  .noselect();
  cursor: pointer;
  font-weight: bold;
}

.upgrade {
  .button();
  .name {
    font-size: 1.1em;
  }
  .level {
    font-size: 0.7em;
  }
}

.disabled {
  cursor: default !important;
}

#bottom {
  .transparent-bg();
  margin-top: 5px;
}

.messages {
  .noselect();
  margin-top: 15px;
  font-style: italic;
  opacity: 1;
  transition: opacity 5.0s ease-in-out;
  -moz-transition: opacity 5.0s ease-in-out;
  -webkit-transition: opacity 5.0s ease-in-out;
}

.current-clicks {
  font-size: 1.5em;
}

.divide {
  color: lighten(@stone-bg, 40%);
  .noselect();
}

///////////////////// PER AGE STUFF /////////////////////

@stone-text: @red;
@stone-fg: @yellow;
@stone-bg: @black;

@bronze-text: lighten(@brown, 10%);
@bronze-fg: @bronze;
@bronze-bg: @dark-gray;

// Stone
#body.Stone {
  background: url('stone-pixel-bg.png');
  color: @stone-text;
}

.Stone {
  #the-button {
    border: 4px solid @stone-fg;
    background: @stone-bg;
    a {
      color: @stone-text;
    }
    &:hover {
      background: lighten(@stone-bg, 10%);
    }
  }
  h3 {
    color: lighten(@stone-fg, 20%);
  }
  #bottom {
    color: lighten(@stone-bg, 70%);
  }
  .messages {
    color: @stone-fg;
  }
  .disabled {
    color: lighten(@stone-bg, 50%);
  }
  .viewAdvance {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    .drop-cap(1.1, @yellow);
  }
  .dropCap { .drop-cap(1.2, @red); };
  .advanceButton {
    .button();
    font-size: 2em;
    width: auto;
    align-self: center;
    text-align: center;
    background: fade(@black, 40%);
    padding: 0 5px;
    border-radius: 5px;
    border: 3px solid @stone-fg;
    &.disabled {
      border: 3px solid @dark-gray;
    }
    &:not(.disabled):hover {
      border: 3px solid @bronze-text;
      color: @bronze-fg;
    }
  }
  .advance {
    .noselect();
  }
  .advance.filled {
    font-size: 1.3em;
    color: @stone-fg;
  }
  .advance.unfilled {
    font-size: 0.9em;
    color: @stone-bg;
  }
}

// Bronze
#body.Bronze {
  background: url('bronze-pixel-bg.png');
  color: @bronze-text;
}

.Bronze {
  #the-button {
    border: 4px solid @bronze-fg;
    background: @bronze-bg;
    a {
      color: @bronze-text;
    }
    &:hover {
      background: lighten(@bronze-bg, 10%);
    }
  }
  h3 {
    color: @bronze-fg;
  }
  #bottom {
    color: lighten(@bronze-bg, 60%);
  }
  .messages {
    color: lighten(@bronze-fg, 40%);
  }
  .disabled {
    color: darken(@bronze-fg, 25%);
  }
  .disaster {
    color: @red;
    .bold();
    font-size: 1.3em;
  }
}
