body {
  font-family: sans-serif;
  max-width: 800px;
  margin: auto;
  background: #242424;
  color: #ff3e45;
}
#side {
  min-width: 200px;
  float: left;
}
#main {
  float: left;
}
#clicker-wrapper {
  width: 25%;
}
#the-button {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  border: 4px solid #e8df28;
  overflow: hidden;
  background: #242424;
  box-shadow: 0 0 3px gray;
}
#the-button:hover {
  background: #3e3e3e;
}
#the-button a {
  display: block;
  float: left;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 0.8em;
  margin-top: -0.5em;
  text-align: center;
  color: #ff3e45;
  font-family: Verdana;
  font-size: 1.2em;
  text-decoration: none;
}
.upgrades {
  width: 300px;
  float: left;
  overflow: hidden;
}
.upgrades .category {
  display: block;
  width: 100%;
  border-bottom: 1px solid #ff3e45;
}
.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  color: #ff3e45;
  background: #242424;
  font-weight: bold;
}
.upgrade {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  color: #ff3e45;
  background: #242424;
  font-weight: bold;
}
.upgrade .name {
  font-size: 1.5em;
}
.upgrade .level {
  font-size: 0.7em;
}
.upgrade.disabled {
  cursor: default;
  color: #575757;
}
#bottom {
  padding-top: 20px;
  float: left;
}
