@font-face {
  font-family: "Silkscreen";
  src: url('slkscr.ttf') format('truetype');
}
#body {
  font-family: "Silkscreen", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 0;
}
#fork-me {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
#container {
  max-width: 800px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
p {
  margin: 5px 0px;
}
h3 {
  margin: 0;
  border-bottom: 1px solid #3e3e3e;
}
.bold {
  font-weight: bold;
}
.fade {
  opacity: 0.0 !important;
}
.transparent-bg {
  background: rgba(62, 62, 62, 0.7);
  box-shadow: 5px 5px 9px black;
  padding: 5px;
  border: 1px solid #3e3e3e;
}
#title {
  background: rgba(62, 62, 62, 0.7);
  box-shadow: 5px 5px 9px black;
  padding: 5px;
  border: 1px solid #3e3e3e;
  font: serif;
  text-shadow: 1px 1px 2px black;
  margin: 5px 0;
  width: 100%;
}
#title .Stone {
  color: #a3a3a3;
}
#title .Bronze {
  color: #CD7F32;
}
#side {
  background: rgba(62, 62, 62, 0.7);
  box-shadow: 5px 5px 9px black;
  padding: 5px;
  border: 1px solid #3e3e3e;
  font-size: 0.9em;
  text-align: center;
  flex-grow: 1;
}
#main {
  background: rgba(62, 62, 62, 0.7);
  box-shadow: 5px 5px 9px black;
  padding: 5px;
  border: 1px solid #3e3e3e;
  margin-left: 5px;
  width: 550px;
  flex-grow: 2;
}
#clicker-wrapper {
  width: 50px;
  margin: auto;
}
#the-button {
  font-size: 1.3em;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 3px gray;
}
#the-button a {
  display: block;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 0.8em;
  margin-top: -0.5em;
  text-align: center;
  font-family: Verdana;
  font-size: 1.2em;
  text-decoration: none;
}
.tab {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  cursor: pointer;
  font-weight: bold;
}
.tab-view {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  overflow: hidden;
}
.upgrades,
.heroes {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  overflow: hidden;
}
#view .title {
  margin-bottom: 5px;
  padding-bottom: 2px;
  border-bottom: 1px solid #3e3e3e;
  font-size: 0.9em;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  cursor: pointer;
  font-weight: bold;
}
.upgrade {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  cursor: pointer;
  font-weight: bold;
}
.upgrade .name {
  font-size: 1.1em;
}
.upgrade .level {
  font-size: 0.7em;
}
.disabled {
  cursor: default !important;
}
#bottom {
  background: rgba(62, 62, 62, 0.7);
  box-shadow: 5px 5px 9px black;
  padding: 5px;
  border: 1px solid #3e3e3e;
  margin-top: 5px;
}
.messages {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  margin-top: 15px;
  font-style: italic;
  opacity: 1;
  transition: opacity 5s ease-in-out;
  -moz-transition: opacity 5s ease-in-out;
  -webkit-transition: opacity 5s ease-in-out;
}
.current-clicks {
  font-size: 1.5em;
}
.divide {
  color: #8a8a8a;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
#body.Stone {
  background: url('stone-pixel-bg.png');
  color: #ff3e45;
}
.Stone #the-button {
  border: 4px solid #e8df28;
  background: #242424;
}
.Stone #the-button a {
  color: #ff3e45;
}
.Stone #the-button:hover {
  background: #3e3e3e;
}
.Stone h3 {
  color: #f2ed84;
}
.Stone #bottom {
  color: #d6d6d6;
}
.Stone .messages {
  color: #e8df28;
}
.Stone .disabled {
  color: #a3a3a3;
}
.Stone .viewAdvance {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.Stone .viewAdvance:first-letter {
  font-size: 1.1em;
  color: #e8df28;
}
.Stone .dropCap:first-letter {
  font-size: 1.2em;
  color: #ff3e45;
}
.Stone .advanceButton {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  cursor: pointer;
  font-weight: bold;
  font-size: 2em;
  width: auto;
  align-self: center;
  text-align: center;
  background: rgba(36, 36, 36, 0.4);
  padding: 0 5px;
  border-radius: 5px;
  border: 3px solid #e8df28;
}
.Stone .advanceButton.disabled {
  border: 3px solid #231c16;
}
.Stone .advanceButton:not(.disabled):hover {
  border: 3px solid #c1ac96;
  color: #CD7F32;
}
.Stone .advance {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.Stone .advance.filled {
  font-size: 1.3em;
  color: #e8df28;
}
.Stone .advance.unfilled {
  font-size: 0.9em;
  color: #242424;
}
#body.Bronze {
  background: url('bronze-pixel-bg.png');
  color: #c1ac96;
}
.Bronze #the-button {
  border: 4px solid #CD7F32;
  background: #231c16;
}
.Bronze #the-button a {
  color: #c1ac96;
}
.Bronze #the-button:hover {
  background: #42352a;
}
.Bronze h3 {
  color: #CD7F32;
}
.Bronze #bottom {
  color: #c6b4a5;
}
.Bronze .messages {
  color: #f5e5d6;
}
.Bronze .disabled {
  color: #674019;
}
.Bronze .disaster {
  color: #ff3e45;
  font-weight: bold;
  font-size: 1.3em;
}
