@font-face {
  font-family: "Silkscreen";
  src: url('slkscr.ttf') format('truetype');
}
#body {
  font-family: "Silkscreen", sans-serif;
  color: #ff3e45;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 0;
}
#body.Stone {
  background: url('stone-pixel-bg.png');
}
#fork-me {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
#container {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
p {
  margin: 5px 0px;
}
h3 {
  margin: 0;
  border-bottom: 1px solid #3e3e3e;
  color: #f2ed84;
}
.bold {
  font-weight: bold;
}
.fade {
  opacity: 0.0 !important;
}
.transparent-bg {
  background: rgba(62, 62, 62, 0.6);
  box-shadow: 5px 5px 9px black;
  padding: 5px;
  border: 1px solid #3e3e3e;
}
#title {
  background: rgba(62, 62, 62, 0.6);
  box-shadow: 5px 5px 9px black;
  padding: 5px;
  border: 1px solid #3e3e3e;
  font: serif;
  text-shadow: 1px 1px 2px black;
  margin: 5px 0;
  width: 100%;
}
#title .Stone {
  color: #a3a3a3;
}
#side {
  background: rgba(62, 62, 62, 0.6);
  box-shadow: 5px 5px 9px black;
  padding: 5px;
  border: 1px solid #3e3e3e;
  min-width: 200px;
  float: left;
  font-size: 0.9em;
  text-align: center;
}
#main {
  float: left;
  margin-left: 5px;
  background: rgba(62, 62, 62, 0.6);
  box-shadow: 5px 5px 9px black;
  padding: 5px;
  border: 1px solid #3e3e3e;
}
#clicker-wrapper {
  width: 50px;
  margin: auto;
}
#the-button {
  font-size: 1.3em;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  border: 4px solid #e8df28;
  overflow: hidden;
  background: #242424;
  box-shadow: 0 0 3px gray;
}
#the-button:hover {
  background: #3e3e3e;
}
#the-button a {
  display: block;
  float: left;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 0.8em;
  margin-top: -0.5em;
  text-align: center;
  color: #ff3e45;
  font-family: Verdana;
  font-size: 1.2em;
  text-decoration: none;
}
.upgrades {
  -webkit-columns: 275px 2;
  -moz-columns: 275px 2;
  columns: 250px 2;
  overflow: hidden;
}
#upgrades .title {
  margin-bottom: 5px;
  padding-bottom: 2px;
  border-bottom: 1px solid #3e3e3e;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  cursor: pointer;
  font-weight: bold;
}
.upgrade {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  cursor: pointer;
  font-weight: bold;
}
.upgrade .name {
  font-size: 1.1em;
}
.upgrade .level {
  font-size: 0.7em;
}
.upgrade.disabled {
  cursor: default;
  color: #a3a3a3;
}
#bottom {
  background: rgba(62, 62, 62, 0.6);
  box-shadow: 5px 5px 9px black;
  padding: 5px;
  border: 1px solid #3e3e3e;
  margin-top: 5px;
  float: left;
  color: #d6d6d6;
}
.messages {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  margin-top: 15px;
  float: left;
  font-style: italic;
  color: #e8df28;
  opacity: 1;
  transition: opacity 5s ease-in-out;
  -moz-transition: opacity 5s ease-in-out;
  -webkit-transition: opacity 5s ease-in-out;
}
.current-clicks {
  font-size: 1.5em;
}
