@font-face {
  font-family: "Silkscreen";
  src: url('slkscr.ttf') format('truetype');
}
body {
  font-family: "Silkscreen", sans-serif;
  max-width: 800px;
  margin: auto;
  background: url('bg-pixel.png');
  color: #ff3e45;
}
p {
  margin: 5px 0px;
}
h3 {
  margin: 0;
  border-bottom: 1px solid #484848;
}
.bold {
  font-weight: bold;
}
.fade {
  opacity: 0.0 !important;
}
.transparent-bg {
  background: rgba(62, 62, 62, 0.4);
  padding: 5px;
  border: 1px solid #484848;
}
#title {
  background: rgba(62, 62, 62, 0.4);
  padding: 5px;
  border: 1px solid #484848;
  font: serif;
  margin: 5px 0;
}
#side {
  background: rgba(62, 62, 62, 0.4);
  padding: 5px;
  border: 1px solid #484848;
  min-width: 200px;
  float: left;
  font-size: 0.9em;
}
#main {
  float: left;
  margin-left: 5px;
  background: rgba(62, 62, 62, 0.4);
  padding: 5px;
  border: 1px solid #484848;
}
#clicker-wrapper {
  width: 50px;
}
#the-button {
  font-size: 1.3em;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  border: 4px solid #e8df28;
  overflow: hidden;
  background: #242424;
  box-shadow: 0 0 3px gray;
}
#the-button:hover {
  background: #3e3e3e;
}
#the-button a {
  display: block;
  float: left;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 0.8em;
  margin-top: -0.5em;
  text-align: center;
  color: #ff3e45;
  font-family: Verdana;
  font-size: 1.2em;
  text-decoration: none;
}
.upgrades {
  width: 275px;
  float: left;
  overflow: hidden;
}
.upgrades .category {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 2px;
  border-bottom: 1px solid #484848;
}
.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
}
.upgrade {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
}
.upgrade .name {
  font-size: 1.1em;
}
.upgrade .level {
  font-size: 0.7em;
}
.upgrade.disabled {
  cursor: default;
  color: #575757;
}
#bottom {
  background: rgba(62, 62, 62, 0.4);
  padding: 5px;
  border: 1px solid #484848;
  margin-top: 5px;
  float: left;
  color: #717171;
}
.messages {
  margin-top: 15px;
  float: left;
  font-style: italic;
  color: #e8df28;
  opacity: 1;
  transition: opacity 5s ease-in-out;
  -moz-transition: opacity 5s ease-in-out;
  -webkit-transition: opacity 5s ease-in-out;
}
.current-clicks {
  font-size: 1.5em;
}
